.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{

  padding: 40px;
}

/* lingar's Custom styling */

.defaultStyle{
  padding-left: 100px;
  background-color: white;
  color: purple;
  border: 2px solid yellow;


}
.regular{

}

.hidden{
  display: none;
}
.draftArea{
  border: solid black 2px;
  padding: 10%;
  margin:10%;
}

.mainArea{
  border: solid black 2px;


}


.sideArea{
  border: solid black 2px;
  background-color: green;
  height: 1500px;




   border: 2px solid yellow;
  float: left;


}



.footer1 li, .footer1 li *{


  background-color: black;
  color: white;



}

.footer1 li *:hover {
  background-color: #ddd;
  color: black;
}

.footer1 li * :active {
  background-color: pink;
  color: black;
}

.crudView1{
  background-color: yellow;
  color: #e224df;
  padding: 7px
}

.crudView1  input{
  width: 70%;
}
.itemStyle1{
  font-size: 20px;
  padding: 2%;
  border: solid black 2px;
  border-radius: 10px;
  cursor: default;

}

.itemStyle1NotWork :hover{ /* not work over borders*/

  background-color: #c6abab;
}

.itemStyle1:nth-child(odd) {
  background-color: yellow;
  color: #e224df;

}

.itemStyle1:nth-child(even) {
  background-color:#e224df ;
  color:  yellow;

}



.select1{


}

.option1{
  width: 600px;
}

.dropListHeader{

  margin:0;
  border:solid black 2px;
  padding: 5px;
  cursor: default;
  background-color: grey;
  color:black;
}

.selectMenu1{
  width: 600px;
}
.dropListArrow{
  float:right;

}

.label1{

}
.value1{
  font-size:17px;
  font-family: "Segoe UI"
}

.littleItem1{
  font-size: 12px;

}

.littleItem1 div {
  font-size: 12px;
  display: inline;
}

.littleItem1::after {
  content: "";
}
.value1::after{
  content: "";
}
.header1{
  position: fixed;
   top: 0;
   background-color: pink;
   font-size:20px;
   padding: 10px;
   width: 50%;

}

footer{
  position: fixed;
   bottom: 0;

   font-size:20px;
   padding-top:  10px;
   width: 50%;

}

.mainEntityArea{


}
